---
import type { ResolvedProfileReference } from '~/types';

export interface Props {
  label: string;
  entries: Array<ResolvedProfileReference>;
}

const { label, entries } = Astro.props;

const getProfileLink = ({ profile }: ResolvedProfileReference) =>
  profile?.linkedin || (profile?.github ? `https://github.com/${profile.github}` : profile?.website);
---

<span>
  <span class="font-medium">{label}:</span>{' '}
  {
    entries.map((entry, index) => (
      <>
        {index > 0 && ', '}
        {getProfileLink(entry) ? (
          <a class="hover:underline" href={getProfileLink(entry)}>
            {entry.profile?.name || entry.id}
          </a>
        ) : (
          <span>{entry.profile?.name || entry.id}</span>
        )}
      </>
    ))
  }
</span>
